<div class="container" style="background-color:white;">

  <section class="header_text">
    <h2><span>Admin Page</span></h2>
  </section>

<section class="main-content">
<div class="row">
    <div class="span11">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#products">Product List</a></li>
        <li class=""><a href="#transactions">Transation List</a></li>
        <li class=""><a href="#users">User List</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="products">
          <table class="table table-striped shop_attributes">
            <thead>
              <th><a href="/add-to-cart/{{this._id}}" class="btn btn-info" role="button">Add new Item</a></th>
              <td>Informasi</td>
              <td>Deskripsi</td>
              <td>Action</td>
            </thead>
            <tbody>
              {{# each products }}
                  {{# each this}}
                  <tr class="">
                    <th>
                      <div class="product-box thumbnail img-thumbnail">
                        <img class="img-responsive rounded mx-auto d-block" src="{{this.imagePath}}">
                      </div>
                    </th>
                    <td>
                        <h4>{{this.title}}</h4>
                        <h3>Rp{{this.price}}</h3>
                        <form>
                          <input type=number value="{{this.__v}}">
                          <button type=submit>Edit Stocks</button>
                        </form>
                    </td>
                    <td>
                        <p>{{this.description}}</p>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                          <a href="/add-to-cart/{{this._id}}" class="btn btn-info" role="button" style="margin:5px;">Update</a>
                          <a href="/add-to-cart/{{this._id}}" class="btn btn-danger" role="button" style="margin:5px;">Delete</a>
                        </div>

                    </td>
                  </tr>
                  {{/each}}
            {{/each}}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="transactions">
            <table class="table table-striped shop_attributes">
              <thead>
                <th>Id Transaction</th>
                <td>Nama Penerima</td>
                <td>List Barang</td>
                <td>Status Orderan</td>
              </thead>
              <tbody>
              {{#each orders}}
                    <tr class="">
                      <th>
                          <h4>{{this._id}}</h4>
                      </th>

                      <td>
                        <h4>{{this.name}}</h4>
                      </td>

                      <td>
                        <ul class="list-group">
                            {{#each this.items}}
                                <li class="list-group-item">
                                    <span class="badge">${{this.price}}</span>
                                    {{this.item.title}} | {{this.qty}} Units
                                </li>
                            {{/each}}
                        </ul>
                      </td>

                      <td>
                        <h4>{{this.name}}</h4>
                      </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>
        </div>

        <div class="tab-pane" id="users">
        </div>

      </div>
    </div>
  </div>

<br><br>
</div>
</section>
