<div class="container" style="background-color:white;margin-top:-20px;">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">

        <h2>Refund</h2>
        <p>Total Refund: Rp. {{total}}</p>

        <form action="/admins/updaterefund" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Transaction Number : {{order_id}}</label>
          </div>
          <div class="form-group">
            <label for="nama_rek">Name: {{nama_rek}}</label>
          </div>
          <div class="form-group">
            <label for="bank">Bank: {{bank}}</label>

          </div>
          <div class="form-group">
            <label for="no_rek">No Rek: {{no_rek}}</label>

          </div>
          <div class="form-group">
            <label for="no_rek">Bukti Transfer:</label><br>
            <a href="../../{{this.imagePath}}" target="_blank">
              <img class="img-responsive rounded mx-auto d-block pull-left" style="width:200px;float:left;" src="../../{{imagePath}}">
            </a>
          </div>

        </form>

      </div>
    </div>
</div>
