<div class="container" style="background-color:white;margin-top:-20px;">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <div id="error" class="alert alert-danger {{#if noMessage}}hidden{{/if}}">
        <center>{{message}}</center>
      </div>
    </div>
  </div>


  <section class="header_text">
    <h2><span>Product Detail</span></h2>
  </section>

  <section class="main-content">
  <div class="row">

    <div class="span10">
          <div class="row">
            <div class="span4">
              <strong>Brand:</strong> <span>{{p_brand}}</span><br>
            </div>
            <div class="span5">
              <address>
                <strong>Brand:</strong> <span>{{p_brand}}</span><br>
                <strong>Product Name:</strong> <span>{{product_name}}</span><br>
                {{#if p_ready}}
                  <strong>Stock:</strong> <span>{{p_stock}}</span><br>
                {{else}}
                  <strong>Stock:</strong> <span>Out Of Stock</span><br>
                {{/if}}
              </address>
              <h4><strong>Price: Rp{{price}}</strong></h4>
            </div>
            <div>
              {{#if p_ready}}
                <form class="form-inline" action="/product-detail/"  method="post">
                  <div class="span5">
                      <input type="hidden" name="id" value="{{_id}}">
                      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <input type="number" value="1" style="width:50px;height:30px; text-align:center;" name="qty">
                  </div>
                  <div class="span5">
                    <br>
                    {{!-- <a href="/add-to-cart2/{{_id}}" class="btn btn-info" role="button">Add to Cart</a> --}}
                      <button class="btn btn-info" type="submit">Add to Cart</button>
                  </div>
                </form>
              {{else}}
                <div class="span5">
                  <button class="btn btn-secondary disabled" style="color:red">Out Of Stock</button>
                </div>
                {{/if}}
            </div>
          </div>

          <div class="row">
            <div class="span9">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#home">Description</a></li>
                <li class=""><a href="#profile">Additional Information</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="home">{{desc}}</div>
                <div class="tab-pane" id="profile">
                  <table class="table table-striped shop_attributes">
                    <tbody>
                      <tr class="">
                        <th>Size</th>
                        <td>{{#each size}}
                          {{this}}
                        {{/each}}</td>
                      </tr>
                      <tr class="alt">
                        <th>Color</th>
                        <td>{{p_color}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>


    <div class="span2 col" style="width:150px;margin-left:20px;">
        <div class="block">
          <ul class="nav nav-list">
            <li class="nav-header">CATEGORIES</li>
            <li><a href="/manwoman/Woman">Woman</a></li>
            <li><a href="/manwoman/Man">Man</a></li>
          </ul>
          <br/>
          <ul class="nav nav-list below">
            <li class="nav-header">BRANDS</li>
            {{#each brands}}
              <li><a href="/viewproductbrand/{{this.name}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="span10">
      <h4 class="title">
        <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
        <span class="pull-right">
          <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
        </span>
      </h4>
      <div id="myCarousel-1" class="carousel slide">
        <div class="carousel-inner">
          <div class="active item">
            <ul class="thumbnails listing-products" style="list-style:none;">
              {{# each products }}
                {{!-- <div class="row"> --}}
                  {{# each this}}
                    <li class="span3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="/product-detail/{{this._id}}"><img alt="" src="../../{{this.imagePath}}" style="width:200px;height:200px;"></a><br/>
                        <a href="/product-detail/{{this._id}}" class="title">{{this.title}}</a><br/>
                        <a href="/product-detail/{{this._id}}" class="category">{{this.description}}</a>
                        <p class="price">Rp{{this.price}}</p>
                      </div>
                    </li>
                  {{/each}}
              {{/each}}
            </ul>

          </div>
          <div class="item">
            <ul class="thumbnails listing-products" style="list-style:none;">
              {{# each products }}
                {{!-- <div class="row"> --}}
                  {{# each this}}
                    <li class="span3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="product_detail.html"><img alt="" src="../../{{this.imagePath}}" style="width:200px;height:200px;"></a><br/>
                        <a href="product_detail.html" class="title">{{this.title}}</a><br/>
                        <a href="#" class="category">Suspendisse aliquet</a>
                        <p class="price">Rp{{this.price}}</p>
                      </div>
                    </li>
                  {{/each}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>

<!-- src="../..{{img}}" !-->
