<div class="container" style="background-color:white;margin-top:-20px;">

  <section class="header_text">
    <h2><span>Admin Control System</span></h2>
  </section>

<section class="main-content">
<div class="row">
    <div class="span11">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#products">Product List</a></li>
        <li class=""><a data-toggle="tab" href="#transactions">Transaction List</a></li>
        <li class=""><a data-toggle="tab" href="#users">User List</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="products">
          <table id="data_product" class="table table-striped shop_attributes">
            <thead>
              <th><a href="/product/inputBarang" class="btn btn-info" role="button">Add new Item</a></th>
              <td><strong>Brand</strong></td>
              <td><strong>Product Detail</strong></td>
              <td><strong>Size Color List</strong></td>
              <td><strong>Action</strong></td>
            </thead>
            <tbody>
              {{#each products }}
                  {{#each this}}
                  <tr class="">
                    <th>
                      <div class="product-box thumbnail img-thumbnail">
                        <img class="img-responsive rounded mx-auto d-block" src="/../../{{this.imagePath}}">
                      </div>
                    </th>

                    <td>
                        <p><strong>{{this.brand}}</strong></p>
                    </td>

                    <td>
                        <h4 style="color:#eb4700;">{{this.title}}</h4>
                        <h5>Rp. {{this.price}}</h5>
                        <p>{{this.description}}</p>
                        <p>Stock: {{this.stock}}</p>
                        <form method="post" action="/product/update">
                          <input type="hidden" name="id" value="{{this._id}}">
                          <input type="number" name="qty" style="width: 70px;">
                          <button type="submit" class="btn-success">Add Stocks</button>
                        </form>
                        <br>
                        <p>{{this.color}}</p>
                        <p>{{this.gender}}</p>
                    </td>
                    <td>
                      <h5>Size : </h5>
                        <table>
                        {{#each this.size}}
                          <th>
                            <td>{{this}}</td>
                          </th>
                        {{/each}}
                      </table>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                          <a href="/product/updateBarang/{{this._id}}" class="btn btn-info" role="button">Update</a>
                          <a href="/product/delete/{{this._id}}" class="btn btn-danger" role="button" style="margin-top:10px;">Delete</a>
                        </div>
                    </td>
                  </tr>
                  {{/each}}
            {{/each}}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="transactions">
            <table id="data_trans" class="table table-striped shop_attributes">
              <thead>
                <th><strong>Id Transaction</strong></th>
                <td><strong>Receiver Data</strong></td>
                <td><strong>Order List</strong></td>
                <td><strong>Order Status</strong></td>
                <td><strong>Evidence of Payment</strong></td>
                <td><strong>Action</strong></td>
              </thead>
              <tbody>
              {{#each orders}}
                    <tr class="">
                      <th>
                          <h6>{{this._id}}</h6>
                      </th>

                      <td>
                        <h4>{{this.name}}</h4>
                        <h5>{{this.address}}</h5>
                      </td>

                      <td>
                        <ul class="list-group">
                            {{#each this.items}}
                                <li class="list-group-item">
                                    <span class="badge">${{this.price}}</span>
                                    {{this.item.title}} | {{this.qty}} Units
                                </li>
                            {{/each}}
                        </ul>
                      </td>

                      <td>
                        <h5>{{this.status}}</h5>
                      </td>

                      <td>
                        {{# if this.paid}}
                        {{#each this.rek}}
                        <a href="../../{{this.imagePath}}" target="_blank">
                          <img class="img-responsive rounded mx-auto d-block pull-left" style="width:50px;float:left;" src="../../{{this.imagePath}}">
                        </a>
                        <div class="pull-right" style="width:50px;float:right;">
                        <h6>a/n {{this.nama_rek}}</h6>
                        <h6>Bank {{this.bank}}</h6>
                        <h6>No rek : {{this.no_rek}}</h6>
                      </div>
                        {{/each}}
                        {{/if}}
                      </td>
                      <td>
                          {{# if this.paid}}
                            {{# if this.verified}}
                                {{# if this.sent}}
                                <div class="btn-group-vertical">
                                  <h4>{{this.resi}}</h4>
                                  <a href="#" class="btn btn-info" role="button" style="margin:5px;">Order Done</a>
                                </div>
                              {{else}}
                              <div class="btn-group-vertical">
                                <input type="text" name="resi" placeholder="input resi">
                                <a href="#" class="btn btn-info" role="button" style="margin:5px;">Input Resi</a>
                              </div>
                              {{/if}}
                            {{else}}
                              <a href="/user/verified/{{this._id}}" class="btn btn-info" role="button" style="margin:5px;">Verified</a>
                            {{/if}}
                          {{else}}
                              <h4>No Action</h4>
                          {{/if}}
                      </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>
        </div>

        <div class="tab-pane" id="users">
          <table id="data_user" class="table table-striped shop_attributes">
            <thead>
              <th><strong>Id User</strong></th>
              <td><strong>Email</strong></td>
              <td><strong>Action</strong></td>
            </thead>
            <tbody>
            {{#each users}}
              {{# each this}}
                  <tr class="">
                    <th>
                        <h4>{{this._id}}</h4>
                    </th>

                    <td>
                      <h4>{{this.email}}</h4>
                    </td>

                    <td>
                      <div class="btn-group-vertical">
                        <a href="/user/profile/{{this._id}}" class="btn btn-info" role="button" style="margin:5px;">See Profile</a>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
              {{/each}}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
</section>
